
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(241, 241, 241, 0.801);
    color: rgb(0, 19, 13);
    height: 65px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 10px;
    margin-top: 10px;
    flex: 1;
    width: 100%;
    }
ul{
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    font-size: large;
    gap: 10px;
    padding-top: 10px;
    }

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    left: 5px;
    border: 1px solid black;
    border-radius: 50%;
    }
.toptext{
    display:flex;
    justify-self: center;
    align-items: center;
    color: rgb(0, 10, 19);
    padding-left: 15%;
    font-size: 40px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 700;
    font-style: normal;
}
span{
    color: rgb(204, 3, 3);
}
.middle-container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(0, 10, 19);
}
h2{
    position: absolute;
    font-size: 150px;
    font-family: "Birthstone", cursive;
    padding-bottom: 30px;
    color: white;
    text-decoration: underline;
    animation: 2s ease-in text;
    text-wrap: justify;
    }

@keyframes text {
    from {
         transform: translateY(-110vh);
        }
        to {
         transform: translateY(0);
        }
    }
.footericon{
    padding-right: 25px;
}

footer{
    background-color: rgba(241, 241, 241, 0.801);
}
.ham {
    background-color: rgba(241, 241, 241, 0.801);
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(0, 19, 13);
    text-decoration: double underline;
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
}

.link{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 20px;
}
.portfolio{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding-left: 4%;
}

@media 
    (max-width: 680px){
        ul{
            display: block;
        }
        h2{
            font-size: xx-large;
        }
       
    }

